.header-page {
  background-color: #F1EFEB;
}
.header-page .top-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  backdrop-filter: blur(30px);
  top: 0;
  padding: 25px 45px;
}
.header-page .top-side .logo {
  font-family: "BROLIMO";
  font-size: 30px;
}
.header-page .top-side .menu .row-nav {
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 40px;
}
.header-page .top-side .menu .row-nav li {
  list-style-type: none;
  font-family: "Founders Grotesk";
}
.header-page .top-side .search-box {
  font-family: "Founders Grotesk";
}
.header-page .main-side {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-page .main-side .slogan {
  padding: 145px;
}
.header-page .main-side .slogan img {
  animation: spin 3s linear 0s infinite;
}
.header-page .main-side .slogan .slogan-content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.header-page .main-side .slogan .slogan-content .slogan-title {
  font-size: 60px;
  font-family: "BROLIMO";
  line-height: 72px;
  animation: content 4s;
}
.header-page .main-side .slogan .slogan-content .slogan-text {
  font-family: "Founders Grotesk";
  line-height: 21px;
  font-size: 18px;
}
.header-page .main-side .slogan button {
  margin-top: 20px;
}
.header-page .bg-top {
  background-image: url("../../assets/img/header-bg.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 380px;
  height: 606px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes content {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.footer {
  display: flex;
  padding: 90px 150px;
  background-color: #000000;
  color: #B1B1B1;
  justify-content: center;
  column-gap: 140px;
}
.footer .logo .logo-title {
  font-family: "BROLIMO";
  font-size: 36px;
  color: #F1EFEB;
}
.footer .logo .logo-text {
  font-family: "Founders Grotesk";
  font-size: 18px;
  margin: 22px 0 28px;
}
.footer .footer-item .footer-title {
  color: #F1EFEB;
  font-size: 18px;
  font-family: "BROLIMO";
  margin-bottom: 18px;
}
.footer .footer-item .footer-text {
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "Founders Grotesk";
}
.footer .email-container {
  position: relative;
}
.footer .email-container .input-email {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #5F5F5F;
  outline: none;
  width: 100%;
}
.footer .email-container .input-email:focus {
  background-color: none;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}
.footer .email-container .input-email::placeholder {
  font-size: 14px;
  color: #B1B1B1;
  line-height: 30px;
}
.footer .fotter-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

.icon-arrow-right {
  position: absolute;
  right: 10px;
  top: 5px;
}
.icon-arrow-right:before {
  background-image: url("../../assets/img/arrow-right.svg");
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.ftitle {
  font-weight: 500;
  font-family: "BROLIMO";
  color: "BROLIMO";
}

.fcontent {
  font-weight: 400;
  color: "BROLIMO";
}

.font-20 {
  font-size: 20px;
}

.font-14 {
  font-size: 14px;
}

.index-main {
  padding: 150px 25px 0;
}
.index-main .index-top .index-top-title {
  font-family: "BROLIMO";
  font-size: 18px;
  font-weight: 600;
  color: #2D3F2F;
}
.index-main .index-top-img-container {
  position: relative;
  margin-top: 30px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.index-main .index-top-img-container .index-top-img .img-container {
  width: 100%;
}
.index-main .index-top-img-container .index-top-img .img-container .img-inner, .index-main .index-top-img-container .index-top-img .img-container img {
  width: inherit;
}
.index-main .index-top-img-container .img-text {
  margin-top: 18px;
}
.index-main .index-top-img-container .img-text .img-des {
  color: #2E2423;
  font-weight: 500;
}
.index-main .index-top-img-container .img-text .img-price {
  color: #464646;
  font-weight: 300;
  font-size: 14px;
}
.index-main .pre-index-center {
  display: flex;
  margin: 190px -25px;
}
.index-main .pre-index-center .pre-index-left {
  background-color: #EFE8DF;
  display: flex;
  justify-content: center;
  padding: 45px 116px;
  flex-basis: 40%;
  max-width: 40%;
}
.index-main .pre-index-center .pre-index-left .slogan {
  position: relative;
}
.index-main .pre-index-center .pre-index-left .slogan .slogan-inner {
  position: absolute;
  bottom: 0;
  left: -50px;
  display: inline-block;
  transform: rotate(270deg);
}
.index-main .pre-index-center .pre-index-left .pre-deco {
  position: relative;
}
.index-main .pre-index-center .pre-index-left .pre-deco .border-deco {
  position: absolute;
  top: -30px;
  left: 50px;
  display: inline-block;
  height: 100px;
  width: 1px;
  background-color: #2E2423;
}
.index-main .pre-index-center .pre-index-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1EFEB;
}
.index-main .pre-index-center .pre-index-right .pre-index-content {
  flex-basis: 50%;
  max-width: 50%;
}
.index-main .pre-index-center .pre-index-right .pre-index-content .pre-index-content-title {
  color: #2D3F2F;
  font-size: 32px;
  font-weight: 500;
  font-family: "BROLIMO";
  margin-bottom: 28px;
}
.index-main .pre-index-center .pre-index-right .pre-index-content .pre-index-content-text {
  font-size: 16px;
  color: #2D3F2F;
  font-weight: 300;
  margin-bottom: 43px;
}
.index-main .index-center-one {
  margin-bottom: 260px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.index-main .index-center-one .index-center-one-left {
  flex-basis: 50%;
  max-width: 50%;
}
.index-main .index-center-one .index-center-one-left .one-left-content {
  margin-bottom: 88px;
  padding: 0 350px 0 190px;
}
.index-main .index-center-one .index-center-one-left .one-left-content .left-content-title {
  font-family: "BROLIMO";
  font-size: 25px;
  font-weight: 500;
  color: #2D3F2F;
}
.index-main .index-center-one .index-center-one-left .one-left-content .left-content-text {
  font-weight: 300;
  font-size: 16px;
  color: #2E2423;
  margin-top: 8px;
}
.index-main .index-center-one .index-center-one-left .img-content {
  position: relative;
  width: 90%;
  margin-left: 10%;
}
.index-main .index-center-one .index-center-one-left .img-content img {
  width: 100%;
  margin-left: auto;
}
.index-main .index-center-one .index-center-one-left .img-content:hover .back-drop {
  width: 100%;
  font-size: 16px;
}
.index-main .index-center-one .index-center-one-right {
  flex-basis: 50%;
  max-width: 50%;
}
.index-main .index-center-one .index-center-one-right img {
  width: 100%;
}
.index-main .index-center-two .index-center-two-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-main .index-center-two .index-center-two-top .two-top-title {
  font-family: "BROLIMO";
  font-size: 25px;
  color: #2D3F2F;
  text-transform: uppercase;
  font-weight: 400;
}
.index-main .index-center-two .index-center-two-top .two-top-sup-title {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 25px;
  color: #2D3F2F;
}
.index-main .index-center-two .index-two {
  text-transform: capitalize;
  margin-bottom: 13px;
}
.index-main .index-center-two .index-center-two-top {
  margin-bottom: 50px;
}
.index-main .index-center-two .index-top-img-exception {
  margin-top: 30px;
}
.index-main .index-three-top-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.index-main .index-three-top-img-container img {
  width: 100%;
}
.index-main .index-three-top-img-container .img-text {
  margin-top: 18px;
}
.index-main .index-three-top-img-container .img-text .img-des {
  color: #2E2423;
  font-weight: 500;
}
.index-main .index-three-top-img-container .img-text .img-price {
  color: #464646;
  font-weight: 300;
  font-size: 14px;
}
.index-main .see-mor {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 37px;
  text-transform: capitalize;
}
.index-main .index-last {
  margin: 153px -25px 0;
}
.index-main .index-last .index-last-top {
  background-color: #EFE8DF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 350px;
}
.index-main .index-last .index-last-center {
  display: flex;
}
.index-main .index-last .index-last-center img {
  width: 100%;
}
.index-main .index-last .index-last-three {
  background-color: #EFE8DF;
  display: flex;
  justify-content: center;
  padding: 55px 180px;
  gap: 200px;
}
.index-main .index-last .index-last-three .last-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-main .index-last .index-last-three .last-item .icon-last-center:before {
  content: url("../../assets/img/Group 6.svg");
  display: inline-block;
  width: 30px;
  text-align: center;
}
.index-main .index-last .index-last-three .last-item .icon-butterfly:before {
  content: url("../../assets/img/butterfly.svg");
  display: inline-block;
  width: 30px;
  text-align: center;
}
.index-main .index-last .index-last-three .last-item .icon-bee:before {
  content: url("../../assets/img/bee.svg");
  display: inline-block;
  width: 30px;
  text-align: center;
}
.index-main .index-last .index-last-three .last-item .title-last {
  text-transform: uppercase;
  font-family: "BROLIMO";
  font-weight: 500;
  font-size: 16px;
  color: #2D3F2F;
  margin-bottom: 8px;
}
.index-main .index-last .index-last-three .last-item .content-last {
  font-size: 12px;
  font-weight: 400;
  color: #6A6A6A;
  text-align: center;
}

.owl-nav {
  position: absolute;
  top: -50px;
  right: 100px;
  display: flex;
  gap: 50px;
}

.icon-title-arrow-right:before {
  content: "";
  background-image: url("../../assets/img/index-arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 52px;
  height: 8px;
}

.back-drop {
  display: flex;
  transition: 1s ease-in-out 0.5s;
  align-items: center;
  justify-content: center;
  font-size: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 0%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fbtn {
  outline: none;
  border: none;
  width: 141px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 25px;
}

.fbtn-outline {
  border: 1px solid #73796E;
}

body {
  margin: 0;
  font-family: "Founders Grotesk";
}

/*# sourceMappingURL=style.css.map */
