@import "../variables/color";
.fbtn {
  outline: none;
  border: none;
  width: 141px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 25px;
}
.fbtn-outline{
  border: 1px solid $btn-outline;
}
